<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1> <%= locals.folder.name %> </h1>
  <% if (locals.files.length > 0) { %>
  <% } else { %>
  <h2>No Files</h2>
  <% } %>
</body>

</html>